.about li a{
    color: #000;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}

.about li a:hover{
    color:#EE8683;
}

.profile-img{
    
    width:100%;
}

@media only screen and (max-width: 980px) {
    .profile-img {
        width:60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }